.storybook-button--primary {
  color: white;
  background-color: #1ea7fd;
}

.storybook-button--secondary {
  color: #333;
  background-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
}

.button-submit--small {
  font-size: small;
}

.button-submit--medium {
  font-size: medium;
}

.button-submit--large {
  font-size: large;
}
